nav {
	width: 100%;
}

div.logo {
	float: left;
	width: 24%;
	background: #999999;
	height: 70px;
	margin: 0px 0px 10px 0px;
	/*border: 1px solid #222222;*/
	clear: both;
}

div.link-1 {
	float: right;
	width: 11%;
	background: #999999;
	height: 24px;
	margin: 23px 0px 0px 0px;
	/*border: 1px solid #222222;*/
}

div.link-2 {
	float: right;
	width: 11%;
	background: #999999;
	height: 24px;
	margin: 23px 1% 0px 0px;
	/*border: 1px solid #222222;*/
}

div.link-3 {
	float: right;
	width: 11%;
	background: #999999;
	height: 24px;
	margin: 23px 1% 0px 0px;
	/*border: 1px solid #222222;*/
}

div.link-4 {
	float: right;
	width: 11%;
	background: #999999;
	height: 24px;
	margin: 23px 1% 0px 0px;
	/*border: 1px solid #222222;*/
}

div.link-5 {
	float: right;
	width: 11%;
	background: #999999;
	height: 24px;
	margin: 23px 1% 0px 0px;
	/*border: 1px solid #222222;*/
}

div.container {
	width: 100%;
	clear: both;
}

div.tall-left {
	float: left;
	width: 15%;
	background: #999999;
	height: 320px;
	/*border: 1px solid #222222;*/
	margin: 0px 2% 10px 0px;
}

div.top-float {
	float: left;
	width: 83%;
	background: #999999;
	height: 75px;
	/*border: 1px solid #222222;*/
	margin: 0px 0px 10px 0px;
}

div.float-col1-middle {
	float: left;
	width: 61.75%;
	background: #999999;
	height: 150px;
	/*border: 1px solid #222222;*/
	margin: 0px 0px 10px 0px;
}

div.float-col2-middle {
	float: left;
	width: 19.25%;
	background: #999999;
	height: 150px;
	/*border: 1px solid #222222;*/
	margin: 0px 0px 10px 2%;
}

div.float-col1-bottom {
	float: left;
	width: 19.25%;
	background: #999999;
	height: 75px;
	/*border: 1px solid #222222;*/
	margin: 0px 2% 10px 0px;
}

div.float-col2-bottom {
	float: left;
	width: 19.25%;
	background: #999999;
	height: 75px;
	/*border: 1px solid #222222;*/
	margin: 0px 2% 10px 0px;
}

div.float-col3-bottom {
	float: left;
	width: 19.25%;
	background: #999999;
	height: 75px;
	/*border: 1px solid #222222;*/
	margin: 0px 2% 10px 0px;
}

div.float-col4-bottom {
	float: left;
	width: 19.25%;
	background: #999999;
	height: 75px;
	/*border: 1px solid #222222;*/
	margin: 0px 0px 10px 0px;
}

div.bottom {
	width: 100%;
	background: #999999;
	clear: both;
	height: 75px;
	/*border: 1px solid #222222;*/
}